body {
    background-image: linear-gradient(45deg, #eaeaea 25%, #f9f9f9 25%, #f9f9f9 50%, #eaeaea 50%, #eaeaea 75%, #f9f9f9 75%, #f9f9f9 100%);
    background-size: 2.83px 2.83px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
    background-color: white;
    position: relative;
    border-radius: 2px;
    padding: 0px;
  
    -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.12);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.12);
}
@media (max-width: 576px) {
    body {
        padding: 0px;
        overflow-x: hidden;
    }
}


#page-header {
    background-color: white;
    position: relative;
    min-height: 75px;
    z-index: 2;
}
#page-header #target{
    font-weight: bold;
    color:#FF5944;
    margin: auto;
    padding: 0;
    font-size: 25px;
}
#page-header #description{
color: #AAA;
font-size: 10px;
height: 100%;
font-weight: bold;
margin:auto;
padding: 0;
}
#page-header #phone{
color: #FF5944;
font-size: 14px;
font-weight: bold;
height:100%;
margin:auto;
padding: 0;
}
.row .slide {
    min-height: 250px;
    background-color: #FBFBFB;
    z-index: 1;
    max-height: 300px;
}
#slide-quote {
    padding: 20px;
}
.slide .text {
    display: flex;
    align-items: center;
}
.slide #slide-title {
    font-weight: 550;
    font-size: 30px;
    line-height: 42px;
    margin: 10px;
}
.slide #slide-detail {
    font-size: 14px;
}
#slide-image {
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
 
}
#slide-image .image {
	cursor: pointer;
    object-fit: contain;
    position: relative;
    width: 75%;
    border-radius:4px;
    padding: 5px;
    background-color:#FAFAFA;
    border: 1px solid #DDD;
    -webkit-box-shadow: 0px 2px 18px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 2px 18px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 2px 18px 0px rgba(50, 50, 50, 0.32);
    transition:0.35s;
}
#slide-image .image:hover {
	transform: scale(1.05);
	  -webkit-box-shadow: 0px 2px 38px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 2px 38px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 2px 38px 0px rgba(50, 50, 50, 0.32);
}

.blur {
	-webkit-filter: blur(7px);
	filter: blur(7px);
}
#slide-image .btn {
	position: absolute;
  	top: 50%;
    width:12%;
  	height:auto;
  	padding:0px;
  	margin:0px;
  	border-radius:50%;
  	transition: 0.35s;
}
#slide-image .btn:not(.blur) {
	   opacity: 0.85;
  filter: alpha(opacity=85);
}

#slide-image .btn.right:not(.blur):hover {
	transform:scale(1.25) translate(50%, -50%);
}

#slide-image .btn.left:not(.blur):hover {
	transform:scale(1.25) translate(-50%, -50%);
}
#slide-image .btn.left {
  left: 14%;
  transform: translate(-50%, -50%);
}

#slide-image .btn.right {
  right: 14%;
  transform: translate(50%, -50%);
}

 .row.tip {
    padding-left: 20px;
    padding-right: 20px;
    padding-top:30px;
    padding-bottom: 30px;
}
.row.tip .item {
	transition: 0.35s;
	padding:5px 5px 5px 5px;
}
.row.tip .item:hover {
	transform:scale(1.03);
	border-radius:8px;
	cursor:pointer;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.22);
    -moz-box-shadow:    0px 2px 8px 0px rgba(50, 50, 50, 0.22);
    box-shadow:         0px 2px 8px 0px rgba(50, 50, 50, 0.22);
}
.row.tip .item.blue:hover {
	background-color:#F6FBFD;
}
.row.tip .item.yellow:hover {
	background-color:#FFF7F3;
}
.row.tip .item.gold:hover {
	background-color:#FEFEF4;
}
.row.tip .item.green:hover {
	background-color:#FBFFF5;
}
.tip .content{
    min-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tip .image {
    object-fit: contain;
}
.tip .content .name {
font-weight: bold;
color: #444;
text-align: center;
}
.tip .content .detail {
color: #666;
text-align: center;
}
.row {
    position: relative;
    margin: 0;
    padding: 0px;    
}
.row:not( .item) {
	border-bottom:1px solid #DDD;
	transition: 0.35s;
}
.row:not( .item):hover {
	border-bottom:1px solid transparent;
    -moz-box-shadow: 0 0 15px 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.12);
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.12);
}
.button-panel {
    margin: 18px;
}
.or {
    margin: auto;
    font-weight: bold;
    font-size: 20px;
}
.button {
    border-radius: 50px;
    padding: 10px;
    color:#FFF;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.05), 0 0 2px rgba(0,0,0,0.12);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.12);
    text-decoration:none;
    transition: 0.35s;
}
.button:hover {
    text-decoration: none;
    transform:scale(1.09);
}
.button.red {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);

}

.button.red:hover {
	background-image: linear-gradient(to right, #FFC5A1 0%, #FFB6B4 51%, #FFC5A1 100%);
	color:#DD2476;

}

.button.blue {
		background-image: linear-gradient(to right, #8EF0FF 0%, #C8D7FA 51%, #8EF0FF 100%);
		color: #5B86E5;

}

.button.blue:hover {

}
a:hover {
    text-decoration:none;
}  

.title {
    font-weight: bold;
    font-size: 22px;
}
.feature .description {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: #666;
    align-items: center;
    display: flex;
}

.feature .navigate {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
   
}
.feature .navigate .item {
    border-bottom-color:#EAEAEAEA;
    border-bottom-width:1px;
    border-bottom-style: solid;
    min-height: 30px;
    padding: 5px;
    
}
.feature .navigate .item .img {
object-fit: contain;
height: 30px;
padding: 7px;
}
.feature .navigate .item .detail {
    display:inline;
    font-size: 15px;
    color: #f57a62;
 
}

.screenshots .image {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    position: relative;
}
.screenshots .image img {
    object-fit: contain;
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    border-radius: 4px;
    width: auto;
    max-width: 80%;
    border-color: #FAFAFA;
    border-style: solid;
    border-width: 3px;
    -webkit-box-shadow: 0px 2px 18px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 2px 18px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 2px 18px 0px rgba(50, 50, 50, 0.32);
     transition: all 0.35s;
}
.screenshots .image img:hover {
	transform:scale(1.05);
	 -webkit-box-shadow: 0px 2px 38px 5px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 2px 38px 5px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 2px 38px 5px rgba(50, 50, 50, 0.4);
}

.quote .button-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.quote .button-panel .item {
    display: inline-block;
    margin: 0px;
}

.quote .button {
    max-width: 150px;

}

.quote .content {
    font-style: italic;
    padding: 20px;
    border: 1px solid #AAA;
    margin: 20px;
}
.quote .author {
    font-weight: 500;
    color:#666;
    margin-left: 40px;
    margin-top: 10px;
}
.quote .author .mf {
	display:inline;
	color:#333;
	font-style:italic;
}
.section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top:30px;
    padding-bottom: 30px;
}
.footer {
    background-color: #444;
    background-image: linear-gradient(45deg, #343433 33.33%, #262626 33.33%, #262626 50%, #343433 50%, #343433 83.33%, #262626 83.33%, #262626 100%);
    background-size: 4.24px 4.24px;
    padding-bottom: 10px;
}
.footer .title {
    color:#CCC;
    font-weight: 550;
    font-size: 16px;
}
.footer .description {
    padding-top: 10px;
    padding-bottom: 20px;
    color: #AAA;
    font-size:13px;
}
.footer .trademark {
    margin-top:20px;
    margin-bottom: 20px;
}
.trademark .img {
    object-fit: contain;
    height: 50px;
    padding: 0px;
}
.footer .trademark .trademark-title {
    display:inline;
    font-size: 18px;
    color: #FF7C65;
    font-weight: bold;
}
.copyright {
    background-color: #222222;
    border-top: 1px solid #666;
    color:#AAA;
    font-size: 13px;
}
.copyright .designer {
    color: #FF7800;
    font-style: italic;
    font-size: 14px;
}

.talk-bubble {
  display: inline-block;
  position: relative;
  padding: 20px;
  margin: 20px;
}


.round{
    border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
  
  }

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 60px;
    right: auto;
    top: auto;
	bottom: -20px;
	border: 10px solid;
	border-color: #CCC transparent transparent #CCC;
}

.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 62px;
  right: auto;
  top: auto;
	bottom: -16px;
	border: 12px solid;
	border-color: white transparent transparent white;
}
.border {
	border:1.25px solid #CCC !important;
}